
 #logotext{
  padding-top: 120px;
  
    font-family: 'PokemonFireRedRegular'; 
    font-weight: normal; 
    font-style: normal; 
 

 }

  #newlogo{font-family:helvetica;
    width: 300px;
    height: 300px;
    margin-left: -750px;
    background: black;
    border-radius: 50%;
    z-index:-1;
    opacity:.8;
            font-size:3em;
            color:white;}
  
  .landingBody {
    background-image: url(../style/images/landing.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    min-height: 100%;
    margin: 0;
    flex-grow: 1;
    float: right;

  }
  

  
  /* The Modal (background) */
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  
  .close:hover, .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  /* Change styles for span and cancel button on extra small screens */
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* img.avatar {
            width: 40%;
            border-radius: 50%;
          } */
  
  /* Center the image and position the close button */
  
  .imgcontainer {
    text-align: center;
    margin: 12px 0 6px 0;
    position: relative;
  }
  
   /* Extra styles for the cancel button */
   .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Full-width input fields */
  input[type=text],
  input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }
  
#buttons{ display: grid;
  margin-right: 200px;
  width:300px;
}

#welcome{
opacity:.9;
color:yellow;
z-index:-1;
position:absolute;
margin-top: 125px;
margin-left: -175px;
font-family: 'Modak', cursive;
font-size:1.5em;
text-shadow: 1px 1px blue, 
2px 2px blue, 
3px 3px blue, 
4px 4px blue, 
5px 5px blue, 
6px 6px blue;
}