<div id="header"><i class="fas fa-chevron-left"></i>
</div>


<h1 id="title">Order Queue</h1>
<div class="row">
  {{#each order}}
    {{#unless fulfilled}}
      {{> partials/order-block fulfilled=false}}
    {{/unless}}
  {{/each}}
</div>
<div class="row">
  {{#each order}}
    {{#unless fulfilled}}
      {{> partials/order-block fulfilled=true}}
    {{/unless}}
  {{/each}}
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
